.div_1{
    margin-top: 5%;
}
.titulo{
    margin-bottom: 3%;
}

.mat-elevation-z8 {
    margin-left: 27%;
  }
.id{
    margin-right: 17%;
}
.nombre{
    margin-right: 20%;
}

.cedula{
    margin-top: -5%;
    margin-left: 20%;
}
.edad{
    margin-left: 21%;
}

.fecha{
    margin: 2%;
}